<a href="https://colab.research.google.com/github/tsunamizou/Data/blob/main/clean_aff.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
raw = pd.read_csv( 'Rane2020.csv')

In [ ]:
raw.head()

In [ ]:
ins = pd.read_csv('top1000ins.csv')
ins.head()

                                    Name  ranking
0                   University of Oxford        1
1                     Harvard University        2
2                University of Cambridge        3
3                    Stanford University        4
4  Massachusetts Institute of Technology        5

In [ ]:
print(ins['Name'])

0                       University of Oxford
1                         Harvard University
2                    University of Cambridge
3                        Stanford University
4      Massachusetts Institute of Technology
                       ...
995         Autonomous University of Sinaloa
996                  Babe≈ü-Bolyai University
997            Bahauddin Zakariya University
998                        Bayero University
999              Beijing Jiaotong University
Name: Name, Length: 1000, dtype: object

In [ ]:
affs = raw['aff'].values.tolist()
inss = ins['Name'].values.tolist()
print(affs)

In [ ]:
print(len(ins))

1000

In [ ]:
print(inss[999])

Beijing Jiaotong University

In [ ]:
ilist = []
for aff in affs:
  verdict = False
  for i in range(len(inss)):
    # the "OF" part is to prevent "xx university" being assigned to "xx university of xx"
    if str(inss[i]).upper() in str(aff).upper() and str(inss[i]).upper()+" OF" not in str(aff).upper():
      ilist.append(inss[i])
      verdict = True
      break
  if verdict == False:
    ilist.append("0")

print(ilist)

['University of Peradeniya', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', 'Universiti Teknologi Malaysia', '0', '0', '0', '0', '0', '0', 'South China University of Technology', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', 'Aalto University', 'Aalto University', 'Aalto University', '0', '0', '0', 'Wuhan University', '0', '0', '0', '0', '0', '0', '0', '0', 'University of Vaasa', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', 'Hong Kong Polytechnic University', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', 'Universiti Teknologi Malaysia', 'Universiti Teknologi Malaysia', '0', 'Ton Duc Thang University', '0', '0', '0', '0', '0', '0', '0', 'Memorial University of Newfoundland', '0', '0', '0', '0', '0', 'Wuhan University', 'Hunan University', '0', '0', 'Tsinghua University', '0', '0', '0', '0', '0', '0', '0', '0', 'University of Vaasa', '0', '0', 'University of Science and Technology Beijing', 'University of Science and Technology Beijing', '0', '0', '0', 'Nanjing University', '0', '0', '0', '0', '0', '0', '0', 'University of Arkansas', '0', 'University of Peradeniya', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', 'Memorial University of Newfoundland', '0', '0', '0', '0', '0', '0', '0', '0', 'Wuhan University', '0', 'Hunan University', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', 'University of Vaasa', 'University of Vaasa', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', 'Hong Kong Polytechnic University', '0', 'University of Johannesburg', '0', '0', '0']

In [ ]:
print(len(ilist))

208

In [ ]:
raw['clean_aff'] = ilist

In [ ]:
raw.head(20)

In [ ]:
raw.loc[raw['clean_aff']!="0"]

In [ ]:
raw.to_csv('2020highrisk.csv')